/* ==========================================================================
   Loading Layer

   Styles and definitions for a loading layer
   ========================================================================== */

.loader {
	transition: opacity 1s ease-out;
	display: none;
	text-align: center;
	width: 100%;
}

.loading-message {
	width: 250px;
	line-height: 25px;
	font-weight: bold;
	position: absolute;
	margin-top: 100px;
	color: var(--loader-message-font-color);
}

.page-active {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.8;
}

& .loading-icon {
	background: url('../loading-icon.gif') no-repeat;
	width: 40px;
	height: 40px;
	display: inline-block;
	background-size: contain;
}
