.table-wrapper {
  border: 3px solid #f5f5f5;
  overflow: auto;

  .default-table {
    width: 100%;

    .table-head {
      word-break: break-word;

      .table-header {
        background-color: #f5f5f5;

        .table-header-cell {
          padding: 10px;
          font-weight: 700;
          @media screen and (max-width: 768px) {
            font-size: 9px;
          }
        }
      }
    }

    .table-body {
      .table-row {
        .table-cell {
          font-size: 14px;
          padding: 10px;
          word-break: break-word;

          @media screen and (max-width: 768px) {
            font-size: 10px;
          }
        }
      }
    }
  }
}
