@import 'datePicker';

.flex {
  display: flex;
}

.flex--1 {
  flex: 1;
}

.text-small {
  font-size: 10px;
}

.text-gray {
  color: #666;
}

.ml-8 {
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.ml-32 {
  margin-left: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mr-24 {
  margin-right: 20px;
}


.pointer {
  cursor: pointer;
}

.btn-link {
  border: none;
  outline: none;
  background: transparent;
  line-height: 1.25;
  min-width: auto;
  padding: 0;
  outline: none;
}

.align-right {
  text-align: right;
}
